.product-card {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.product-detail {
  font-weight: 500;
  text-align: center;
  width: 100%;
}

.price {
  color: #e53935;
  font-weight: bold;
  font-size: 1.1rem;
}

.product-actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  justify-content: space-around;
}

.buy-btn,
.add-to-cart-btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.add-to-cart-btn {
  background: #000000;
  color: #fff;
}

.add-to-cart-btn:hover {
  background: #4f4f4f;
}
