<app-header />
<div class="layout-row-cart">
  <div class="cart-container">
    <div class="cart-list">
      @for (item of cartItems; track item.id) {
      <div class="cart-item">
        <img [src]="item.imageUrl" alt="{{ item.name }}" class="cart-img" />
        <div class="cart-info">
          <h3 class="cart-title">{{ item.name }}</h3>
          <p class="cart-description">{{ item.description }}</p>
          <p class="cart-price">£{{ item.price }}</p>

          <h3>Quantity: {{item.quantity}}</h3>
        </div>
      </div>
      }
    </div>
    <div class="cart-summary">
      <div class="summary-box">
        <h4>Order Summary</h4>
        <div class="summary-row">
          <span>Item Total</span>
          <span>£{{ getTotalPrice() }}</span>
        </div>
        <div class="summary-row">
          <span>Cart Total</span>
          <span>£{{ getTotalPrice() }}</span>
        </div>
        <button class="checkout-btn">Checkout</button>
      </div>
    </div>
  </div>
</div>